body{
    background-color: antiquewhite;
}
.container{
    justify-content: space-around;
}

.jumbotron {
    height: 400px;
}

.banner-container{
    background-color:aqua;
}
.row{
    justify-content: space-around;
    padding: 0px auto;
}

.work {
    text-align: center;
    padding-bottom: 20px;
}

hr{
    padding-bottom: 20px;
}

.aboutme{
    text-align: center;
    padding: 0px 100px;
}

footer a:hover{
    text-decoration: underline;
}

.btn:hover{
    box-shadow: 5px 10px;
}