
.banner {
    background-image: url(../images/02-hero-bg.jpg);
    background-size: cover;
    opacity: 0.9;
    height: 300px;
    color: white;
}

.banner-container{
    background-color:aqua;
}
.row{
    justify-content: right;
    padding-top: 20px;
}
