
.container{
    justify-content: space-around;
}

.jumbotron {
    height: 400px;
}

.banner-container{
    background-color:aqua;
}
.row{
    justify-content: space-around;
    padding: 0px auto;
}

.work {
    text-align: center;
    padding-bottom: 20px;
}

hr{
    padding-bottom: 20px;
}

hr[1]{
    padding-top: 20px
}